<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.voyagegames.logic3d.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/v1/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.voyagegames.logic3d.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/v1/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Friend</servlet-name>
		<servlet-class>com.voyagegames.logic3d.FriendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Friend</servlet-name>
		<url-pattern>/v1/friend</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CompletedGames</servlet-name>
		<servlet-class>com.voyagegames.logic3d.CompletedGamesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompletedGames</servlet-name>
		<url-pattern>/v1/completed</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GamesInProgress</servlet-name>
		<servlet-class>com.voyagegames.logic3d.GamesInProgressServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GamesInProgress</servlet-name>
		<url-pattern>/v1/inprogress</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Start</servlet-name>
		<servlet-class>com.voyagegames.logic3d.StartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Start</servlet-name>
		<url-pattern>/v1/start</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Play</servlet-name>
		<servlet-class>com.voyagegames.logic3d.PlayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Play</servlet-name>
		<url-pattern>/v1/play</url-pattern>
	</servlet-mapping>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>